[submodule "test/65x02"]
	path = test/65x02
	url = https://github.com/SingleStepTests/65x02.git
[submodule "vendor/L2DFileDialog"]
	path = vendor/L2DFileDialog
	url = https://github.com/MariosAchilias/L2DFileDialog.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
