# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Test case files
test/json_tests/*

# CMake files
build/*
.vscode/settings.json
vcpkg_installed/vcpkg/compiler-file-hash-cache.json
vcpkg_installed/vcpkg/issue_body.md
vcpkg_installed/vcpkg/manifest-info.json
vcpkg_installed/vcpkg/status
vcpkg_installed/vcpkg/info/gtest_1.17.0_x64-linux.list
vcpkg_installed/vcpkg/info/nlohmann-json_3.12.0_x64-linux.list
vcpkg_installed/vcpkg/info/vcpkg-cmake_2024-04-23_x64-linux.list
vcpkg_installed/vcpkg/info/vcpkg-cmake-config_2024-05-23_x64-linux.list
vcpkg_installed/x64-linux/debug/lib/pkgconfig/gmock_main.pc
vcpkg_installed/x64-linux/debug/lib/pkgconfig/gmock.pc
vcpkg_installed/x64-linux/debug/lib/pkgconfig/gtest_main.pc
vcpkg_installed/x64-linux/debug/lib/pkgconfig/gtest.pc
vcpkg_installed/x64-linux/include/gmock/gmock-actions.h
vcpkg_installed/x64-linux/include/gmock/gmock-cardinalities.h
vcpkg_installed/x64-linux/include/gmock/gmock-function-mocker.h
vcpkg_installed/x64-linux/include/gmock/gmock-matchers.h
vcpkg_installed/x64-linux/include/gmock/gmock-more-actions.h
vcpkg_installed/x64-linux/include/gmock/gmock-more-matchers.h
vcpkg_installed/x64-linux/include/gmock/gmock-nice-strict.h
vcpkg_installed/x64-linux/include/gmock/gmock-spec-builders.h
vcpkg_installed/x64-linux/include/gmock/gmock.h
vcpkg_installed/x64-linux/include/gmock/internal/gmock-internal-utils.h
vcpkg_installed/x64-linux/include/gmock/internal/gmock-port.h
vcpkg_installed/x64-linux/include/gmock/internal/gmock-pp.h
vcpkg_installed/x64-linux/include/gmock/internal/custom/gmock-generated-actions.h
vcpkg_installed/x64-linux/include/gmock/internal/custom/gmock-matchers.h
vcpkg_installed/x64-linux/include/gmock/internal/custom/gmock-port.h
vcpkg_installed/x64-linux/include/gmock/internal/custom/README.md
vcpkg_installed/x64-linux/include/gtest/gtest_pred_impl.h
vcpkg_installed/x64-linux/include/gtest/gtest_prod.h
vcpkg_installed/x64-linux/include/gtest/gtest-assertion-result.h
vcpkg_installed/x64-linux/include/gtest/gtest-death-test.h
vcpkg_installed/x64-linux/include/gtest/gtest-matchers.h
vcpkg_installed/x64-linux/include/gtest/gtest-message.h
vcpkg_installed/x64-linux/include/gtest/gtest-param-test.h
vcpkg_installed/x64-linux/include/gtest/gtest-printers.h
vcpkg_installed/x64-linux/include/gtest/gtest-spi.h
vcpkg_installed/x64-linux/include/gtest/gtest-test-part.h
vcpkg_installed/x64-linux/include/gtest/gtest-typed-test.h
vcpkg_installed/x64-linux/include/gtest/gtest.h
vcpkg_installed/x64-linux/include/gtest/internal/gtest-death-test-internal.h
vcpkg_installed/x64-linux/include/gtest/internal/gtest-filepath.h
vcpkg_installed/x64-linux/include/gtest/internal/gtest-internal.h
vcpkg_installed/x64-linux/include/gtest/internal/gtest-param-util.h
vcpkg_installed/x64-linux/include/gtest/internal/gtest-port-arch.h
vcpkg_installed/x64-linux/include/gtest/internal/gtest-port.h
vcpkg_installed/x64-linux/include/gtest/internal/gtest-string.h
vcpkg_installed/x64-linux/include/gtest/internal/gtest-type-util.h
vcpkg_installed/x64-linux/include/gtest/internal/custom/gtest-port.h
vcpkg_installed/x64-linux/include/gtest/internal/custom/gtest-printers.h
vcpkg_installed/x64-linux/include/gtest/internal/custom/gtest.h
vcpkg_installed/x64-linux/include/gtest/internal/custom/README.md
vcpkg_installed/x64-linux/include/nlohmann/adl_serializer.hpp
vcpkg_installed/x64-linux/include/nlohmann/byte_container_with_subtype.hpp
vcpkg_installed/x64-linux/include/nlohmann/json_fwd.hpp
vcpkg_installed/x64-linux/include/nlohmann/json.hpp
vcpkg_installed/x64-linux/include/nlohmann/ordered_map.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/abi_macros.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/exceptions.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/hash.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/json_custom_base_class.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/json_pointer.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/json_ref.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/macro_scope.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/macro_unscope.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/string_concat.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/string_escape.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/string_utils.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/value_t.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/conversions/from_json.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/conversions/to_chars.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/conversions/to_json.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/input/binary_reader.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/input/input_adapters.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/input/json_sax.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/input/lexer.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/input/parser.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/input/position_t.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/iterators/internal_iterator.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/iterators/iter_impl.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/iterators/iteration_proxy.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/iterators/iterator_traits.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/iterators/json_reverse_iterator.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/iterators/primitive_iterator.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/meta/cpp_future.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/meta/detected.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/meta/identity_tag.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/meta/is_sax.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/meta/std_fs.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/meta/type_traits.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/meta/void_t.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/meta/call_std/begin.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/meta/call_std/end.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/output/binary_writer.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/output/output_adapters.hpp
vcpkg_installed/x64-linux/include/nlohmann/detail/output/serializer.hpp
vcpkg_installed/x64-linux/include/nlohmann/thirdparty/hedley/hedley_undef.hpp
vcpkg_installed/x64-linux/include/nlohmann/thirdparty/hedley/hedley.hpp
vcpkg_installed/x64-linux/lib/pkgconfig/gmock_main.pc
vcpkg_installed/x64-linux/lib/pkgconfig/gmock.pc
vcpkg_installed/x64-linux/lib/pkgconfig/gtest_main.pc
vcpkg_installed/x64-linux/lib/pkgconfig/gtest.pc
vcpkg_installed/x64-linux/share/gtest/copyright
vcpkg_installed/x64-linux/share/gtest/GTestConfig.cmake
vcpkg_installed/x64-linux/share/gtest/GTestConfigVersion.cmake
vcpkg_installed/x64-linux/share/gtest/GTestTargets-debug.cmake
vcpkg_installed/x64-linux/share/gtest/GTestTargets-release.cmake
vcpkg_installed/x64-linux/share/gtest/GTestTargets.cmake
vcpkg_installed/x64-linux/share/gtest/usage
vcpkg_installed/x64-linux/share/gtest/vcpkg_abi_info.txt
vcpkg_installed/x64-linux/share/gtest/vcpkg.spdx.json
vcpkg_installed/x64-linux/share/nlohmann-json/copyright
vcpkg_installed/x64-linux/share/nlohmann-json/usage
vcpkg_installed/x64-linux/share/nlohmann-json/vcpkg_abi_info.txt
vcpkg_installed/x64-linux/share/nlohmann-json/vcpkg.spdx.json
vcpkg_installed/x64-linux/share/nlohmann_json/nlohmann_jsonConfig.cmake
vcpkg_installed/x64-linux/share/nlohmann_json/nlohmann_jsonConfigVersion.cmake
vcpkg_installed/x64-linux/share/nlohmann_json/nlohmann_jsonTargets.cmake
vcpkg_installed/x64-linux/share/pkgconfig/nlohmann_json.pc
vcpkg_installed/x64-linux/share/vcpkg-cmake/copyright
vcpkg_installed/x64-linux/share/vcpkg-cmake/vcpkg_abi_info.txt
vcpkg_installed/x64-linux/share/vcpkg-cmake/vcpkg_cmake_build.cmake
vcpkg_installed/x64-linux/share/vcpkg-cmake/vcpkg_cmake_configure.cmake
vcpkg_installed/x64-linux/share/vcpkg-cmake/vcpkg_cmake_install.cmake
vcpkg_installed/x64-linux/share/vcpkg-cmake/vcpkg-port-config.cmake
vcpkg_installed/x64-linux/share/vcpkg-cmake/vcpkg.spdx.json
vcpkg_installed/x64-linux/share/vcpkg-cmake-config/copyright
vcpkg_installed/x64-linux/share/vcpkg-cmake-config/vcpkg_abi_info.txt
vcpkg_installed/x64-linux/share/vcpkg-cmake-config/vcpkg_cmake_config_fixup.cmake
vcpkg_installed/x64-linux/share/vcpkg-cmake-config/vcpkg-port-config.cmake
vcpkg_installed/x64-linux/share/vcpkg-cmake-config/vcpkg.spdx.json
vcpkg_installed/x64-linux/src/gtest_main.cc
vcpkg_installed/x64-linux/src/gtest-all.cc
vcpkg_installed/x64-linux/src/gtest-assertion-result.cc
vcpkg_installed/x64-linux/src/gtest-death-test.cc
vcpkg_installed/x64-linux/src/gtest-filepath.cc
vcpkg_installed/x64-linux/src/gtest-internal-inl.h
vcpkg_installed/x64-linux/src/gtest-matchers.cc
vcpkg_installed/x64-linux/src/gtest-port.cc
vcpkg_installed/x64-linux/src/gtest-printers.cc
vcpkg_installed/x64-linux/src/gtest-test-part.cc
vcpkg_installed/x64-linux/src/gtest-typed-test.cc
vcpkg_installed/x64-linux/src/gtest.cc
